*.xcodeproj/*
*.xcodeproj/project.pbxproj
*.xcodeproj/xcshareddata
*.xcodeproj/xcshareddata/**

*/Assets.xcassets

xcuserdata/
*.xcuserstate
*.xcscmblueprint


timeline.xctimeline
playground.xcworkspace

.build/

.DS_Store
